    html,body,h1,h2,h3,h4,h5,h6 {
            font-family:  cursive,Arial, Helvetica, sans-serif;
            text-align: center;
    }

        a:link {
        color: #00bfff;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: #00bfff;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: darkblue;
        background-color: transparent;
        text-decoration: underline;
    }
